.etitle {
  margin: 20px auto 10px;
  color: white;
  text-transform: uppercase;
  font-size: 27px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
